#abc {
    display: grid;
    flex-direction: row;
}

#a, #b, #c, #d, #e, #f, #g, #h, #i, #j, #k, #l, #m, #n, #ñ, #o, #p, #q, #r, #s, #t, #u, #v, #w, #x, #y, #z {
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    color: rgb(50, 116, 183);
}




#abcde {
    display: flex;
    flex-direction: row;
    margin-bottom: 5;
}

#fghij {
    display: flex;
    flex-direction: row;
    margin-bottom: 5;
}

#klmnñ {
    display: flex;
    flex-direction: row;
    margin-bottom: 5;
}

#pqrst {
    display: flex;
    flex-direction: row;
    margin-bottom: 5;
}

#uvwxyz {
    display: flex;
    flex-direction: row;
    margin-bottom: 5;
}

img{
    width: 250px;
    height: 250px;
}

h1{
    display: flex;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 450%;
    margin-right: 2%;
}